body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-family: Arimo;
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li {
	padding: 10px 12px;
	font-family: Arimo;
	font-weight: 400;
	font-size: 14px;
	border: 1px solid #ddd;
	border-bottom: none;
	color: #333;
}

ul li:last-child {
	border-bottom: 1px solid #ddd;
}

ul li:nth-child(odd) {
	background-color: #f7f9f9;
	color: salmon;
}
